.Input_tab {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 250px 0px 250px;
    padding: 20px;
    background-color: #e2e3d0;
    border-radius: 50px;
}

.image_screen img {
    width: 400px;
    height: 400px;
}

.input_fields {
    margin-right: 100px;
    padding: 30px;
}

.input_fields input {
    margin-top: 80px;
    padding: 10px;
    width: 350px;
    color: black;
    font-size: 18px;
    border: none;
}

.join_button {
    margin-left: 100px;
}

.join_button button {
    padding: 10px;
    width: 100px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #0303ff;
    color: white;
    border: none;
}

.join_button button:hover {
    font-weight: bold;
}

.meeting_tab {
    margin-top: 20px;
}